# ROS 2 build artifacts
build/
install/
log/

# Python bytecode
__pycache__/
*.py[cod]

# CMake/colcon files
colcon_ws/
CMakeFiles/
cmake_install.cmake
Makefile
*.swp

# ROS 2 launch/logging/cache files
*.launch.py~
*.launch.xml~
*.db
*.log
*.py~

# VSCode config
.vscode/

# ROS 2 parameters/logs
*.yaml~
*.params
*.launch.*
*.bag
*.bag.active

# rosdep cache
rosdep/

# ROS 2 setup scripts
setup.sh
setup.bash
local_setup.*

# DS_Store (macOS)
.DS_Store